<ion-content class="containerMochila">
    <button mat-mini-fab aria-label="miniFabButton" style="background-color: orange; position:fixed; margin-top: 10px;  margin-left: 10px;" (click)="volver()">
      <mat-icon>arrow_back</mat-icon>
    </button>

    <table id="tablaObjetos">
      <tr>
        <th>Objeto</th>
      </tr>
      <tr>
        <div *ngFor="let objeto of objetos">
          <td (click)="ensenarObjeto(objeto)">{{objeto.nombre}}</td>
        </div>
      </tr>
    </table>
</ion-content>
