#containerCocina{
    background: url("../../../assets/escape-room/cocina.jpg");
    background-size: cover;
    height: 100%;
  }
  #containerBaño{
    background: url("../../../assets/escape-room/baño.jpg");
    background-size: cover;
    height: 100%;
  }
  #containerHabitacion{
    background: url("../../../assets/escape-room/habitacion.jpg");
    background-size: cover;
    height: 100%;
  }