<ion-content>

  <div id="{{varEscenario}}">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div *ngIf="showImage == false">
            <img src="../../../assets/escape-room/profesor.png">
            <mat-icon (click)="start()" style="color: blue; zoom: 2.0;">contact_support</mat-icon>
          </div>

          <!--     <div *ngIf="mapa == baño"> -->
          <div *ngIf="mapa == bano && !recogido && !recogido2 && !recogido3 else primer_content">

            <button mat-mini-fab aria-label="miniFabButton"
              style="background-color: orange; position: fixed; margin-top: 10px; " (click)="abrirMochila()">
              <mat-icon>folder</mat-icon>
            </button>
            <button mat-mini-fab aria-label="miniFabButton"
              style="background-color: blue; position: fixed; margin-left: 45px; margin-top: 10px;"
              (click)="guardarEscape()">
              <mat-icon>save</mat-icon>
            </button>


            <img style="margin-left: 550px; margin-top: 40px; height: 40px; position: fixed;"
              (click)="abrirObjeto(objeto2enigma)"
              src="../../../assets/escape-room/objetos/{{objeto1escape.nombre}}.png">
            <img style="margin-left: 500px; margin-top: 343px; height: 18px; position: fixed;"
              (click)="abrirObjetoBascula(bascula)" src="../../../assets/escape-room/objetos/bascula.JPG">

            <img style="margin-left: 245px; margin-top: 59px; height: 28px; position: fixed;"
              (click)="cogerObjeto(objeto1escape.nombre)"
              src="../../../assets/escape-room/objetos/{{objeto1escape.nombre}}.png">
            <img style="margin-left: 250px; margin-top: 90px; height: 18px; position: fixed;"
              (click)="cogerObjeto(objeto2escape.nombre)"
              src="../../../assets/escape-room/objetos/{{objeto2escape.nombre}}.png">
            <img style="margin-left: 337px; margin-top: 147px; height: 30px; position: fixed;"
              (click)="cogerObjeto(objeto3escape.nombre)"
              src="../../../assets/escape-room/objetos/{{objeto3escape.nombre}}.JPG">

          </div>
          <ng-template #primer_content>
            <div *ngIf="recogido && !recogido2 && !recogido3 else segundo_content">

              <button mat-mini-fab aria-label="miniFabButton"
                style="background-color: orange; position: fixed; margin-top: 10px; " (click)="abrirMochila()">
                <mat-icon>folder</mat-icon>
              </button>
              <button mat-mini-fab aria-label="miniFabButton"
                style="background-color: blue; position: fixed; margin-left: 45px; margin-top: 10px;"
                (click)="guardarEscape()">
                <mat-icon>save</mat-icon>
              </button>


              <img style="margin-left: 550px; margin-top: 40px; height: 40px; position: fixed;"
                (click)="abrirObjeto(objeto2enigma)"
                src="../../../assets/escape-room/objetos/{{objeto1escape.nombre}}.png">
              <img style="margin-left: 500px; margin-top: 343px; height: 18px; position: fixed;"
                (click)="abrirObjetoBascula(bascula)" src="../../../assets/escape-room/objetos/bascula.JPG">

             
              <img style="margin-left: 250px; margin-top: 90px; height: 18px; position: fixed;"
                (click)="cogerObjeto(objeto2escape.nombre)"
                src="../../../assets/escape-room/objetos/{{objeto2escape.nombre}}.png">
              <img style="margin-left: 337px; margin-top: 147px; height: 30px; position: fixed;"
                (click)="cogerObjeto(objeto3escape.nombre)"
                src="../../../assets/escape-room/objetos/{{objeto3escape.nombre}}.JPG">
            </div>
          </ng-template>
          <ng-template #segundo_content>
            <div *ngIf="!recogido && recogido2 && !recogido3 else tercer_content">
              <button mat-mini-fab aria-label="miniFabButton"
              style="background-color: orange; position: fixed; margin-top: 10px; " (click)="abrirMochila()">
              <mat-icon>folder</mat-icon>
            </button>
            <button mat-mini-fab aria-label="miniFabButton"
              style="background-color: blue; position: fixed; margin-left: 45px; margin-top: 10px;"
              (click)="guardarEscape()">
              <mat-icon>save</mat-icon>
            </button>


            <img style="margin-left: 550px; margin-top: 40px; height: 40px; position: fixed;"
              (click)="abrirObjeto(objeto2enigma)"
              src="../../../assets/escape-room/objetos/{{objeto1escape.nombre}}.png">
            <img style="margin-left: 500px; margin-top: 343px; height: 18px; position: fixed;"
              (click)="abrirObjetoBascula(bascula)" src="../../../assets/escape-room/objetos/bascula.JPG">

            <img style="margin-left: 245px; margin-top: 59px; height: 28px; position: fixed;"
              (click)="cogerObjeto(objeto1escape.nombre)"
              src="../../../assets/escape-room/objetos/{{objeto1escape.nombre}}.png">
            
            <img style="margin-left: 337px; margin-top: 147px; height: 30px; position: fixed;"
              (click)="cogerObjeto(objeto3escape.nombre)"
              src="../../../assets/escape-room/objetos/{{objeto3escape.nombre}}.JPG">
            </div>
          </ng-template>
          <ng-template #tercer_content>
            <div *ngIf="!recogido && !recogido2 && recogido3 else cuarto_content">
              <button mat-mini-fab aria-label="miniFabButton"
              style="background-color: orange; position: fixed; margin-top: 10px; " (click)="abrirMochila()">
              <mat-icon>folder</mat-icon>
            </button>
            <button mat-mini-fab aria-label="miniFabButton"
              style="background-color: blue; position: fixed; margin-left: 45px; margin-top: 10px;"
              (click)="guardarEscape()">
              <mat-icon>save</mat-icon>
            </button>


            <img style="margin-left: 550px; margin-top: 40px; height: 40px; position: fixed;"
              (click)="abrirObjeto(objeto2enigma)"
              src="../../../assets/escape-room/objetos/{{objeto1escape.nombre}}.png">
            <img style="margin-left: 500px; margin-top: 343px; height: 18px; position: fixed;"
              (click)="abrirObjetoBascula(bascula)" src="../../../assets/escape-room/objetos/bascula.JPG">

            <img style="margin-left: 245px; margin-top: 59px; height: 28px; position: fixed;"
              (click)="cogerObjeto(objeto1escape.nombre)"
              src="../../../assets/escape-room/objetos/{{objeto1escape.nombre}}.png">
            <img style="margin-left: 250px; margin-top: 90px; height: 18px; position: fixed;"
              (click)="cogerObjeto(objeto2escape.nombre)"
              src="../../../assets/escape-room/objetos/{{objeto2escape.nombre}}.png">

            </div>
          </ng-template>
          <ng-template #cuarto_content>
            <div *ngIf="recogido && recogido2 && !recogido3 else quinto_content">
              <button mat-mini-fab aria-label="miniFabButton"
              style="background-color: orange; position: fixed; margin-top: 10px; " (click)="abrirMochila()">
              <mat-icon>folder</mat-icon>
            </button>
            <button mat-mini-fab aria-label="miniFabButton"
              style="background-color: blue; position: fixed; margin-left: 45px; margin-top: 10px;"
              (click)="guardarEscape()">
              <mat-icon>save</mat-icon>
            </button>


            <img style="margin-left: 550px; margin-top: 40px; height: 40px; position: fixed;"
              (click)="abrirObjeto(objeto2enigma)"
              src="../../../assets/escape-room/objetos/{{objeto1escape.nombre}}.png">
            <img style="margin-left: 500px; margin-top: 343px; height: 18px; position: fixed;"
              (click)="abrirObjetoBascula(bascula)" src="../../../assets/escape-room/objetos/bascula.JPG">

            <img style="margin-left: 337px; margin-top: 147px; height: 30px; position: fixed;"
              (click)="cogerObjeto(objeto3escape.nombre)"
              src="../../../assets/escape-room/objetos/{{objeto3escape.nombre}}.JPG">

            </div>
          </ng-template>
          <ng-template #quinto_content>
            <div *ngIf="recogido && !recogido2 && recogido3 else sexto_content">
              <button mat-mini-fab aria-label="miniFabButton"
              style="background-color: orange; position: fixed; margin-top: 10px; " (click)="abrirMochila()">
              <mat-icon>folder</mat-icon>
            </button>
            <button mat-mini-fab aria-label="miniFabButton"
              style="background-color: blue; position: fixed; margin-left: 45px; margin-top: 10px;"
              (click)="guardarEscape()">
              <mat-icon>save</mat-icon>
            </button>


            <img style="margin-left: 550px; margin-top: 40px; height: 40px; position: fixed;"
              (click)="abrirObjeto(objeto2enigma)"
              src="../../../assets/escape-room/objetos/{{objeto1escape.nombre}}.png">
            <img style="margin-left: 500px; margin-top: 343px; height: 18px; position: fixed;"
              (click)="abrirObjetoBascula(bascula)" src="../../../assets/escape-room/objetos/bascula.JPG">

            <img style="margin-left: 250px; margin-top: 90px; height: 18px; position: fixed;"
              (click)="cogerObjeto(objeto2escape.nombre)"
              src="../../../assets/escape-room/objetos/{{objeto2escape.nombre}}.png">
    
            </div>
          </ng-template>
          <ng-template #sexto_content>
            <div *ngIf="!recogido && recogido2 && recogido3 else septimo_content">
              <button mat-mini-fab aria-label="miniFabButton"
              style="background-color: orange; position: fixed; margin-top: 10px; " (click)="abrirMochila()">
              <mat-icon>folder</mat-icon>
            </button>
            <button mat-mini-fab aria-label="miniFabButton"
              style="background-color: blue; position: fixed; margin-left: 45px; margin-top: 10px;"
              (click)="guardarEscape()">
              <mat-icon>save</mat-icon>
            </button>


            <img style="margin-left: 550px; margin-top: 40px; height: 40px; position: fixed;"
              (click)="abrirObjeto(objeto2enigma)"
              src="../../../assets/escape-room/objetos/{{objeto1escape.nombre}}.png">
            <img style="margin-left: 500px; margin-top: 343px; height: 18px; position: fixed;"
              (click)="abrirObjetoBascula(bascula)" src="../../../assets/escape-room/objetos/bascula.JPG">

            <img style="margin-left: 245px; margin-top: 59px; height: 28px; position: fixed;"
              (click)="cogerObjeto(objeto1escape.nombre)"
              src="../../../assets/escape-room/objetos/{{objeto1escape.nombre}}.png">
          
            </div>
          </ng-template>
          <ng-template #septimo_content>
            <div *ngIf="recogido && recogido2 && recogido3">
              <button mat-mini-fab aria-label="miniFabButton"
              style="background-color: orange; position: fixed; margin-top: 10px; " (click)="abrirMochila()">
              <mat-icon>folder</mat-icon>
            </button>
            <button mat-mini-fab aria-label="miniFabButton"
              style="background-color: blue; position: fixed; margin-left: 45px; margin-top: 10px;"
              (click)="guardarEscape()">
              <mat-icon>save</mat-icon>
            </button>


            <img style="margin-left: 550px; margin-top: 40px; height: 40px; position: fixed;"
              (click)="abrirObjeto(objeto2enigma)"
              src="../../../assets/escape-room/objetos/{{objeto1escape.nombre}}.png">
            <img style="margin-left: 500px; margin-top: 343px; height: 18px; position: fixed;"
              (click)="abrirObjetoBascula(bascula)" src="../../../assets/escape-room/objetos/bascula.JPG">

            
            </div>
            <!---->
          </ng-template>
          <!---->
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>