
#container{
    background: url("../../../assets/escape-room/fondo.jpg") center 100%;
    background-size: cover;
}
ion-slides{
    height: 100%;
}
.swiper-slide{
    display:block;
}
ion-card.left{
    width: 75%;
    margin-left: 15%;
}
ion-card.right{
    width: 75%;
    margin-left: 15%;
}
ion-card-title{
    text-align: center;
    color: black;
}
ion-card{
    background-color: wheat;
}
