<ion-content>
 
 
    <div id="{{varEscenario}}">
       <ion-grid>
         <ion-row>        
            <ion-col>
              <div *ngIf="showImage == false">
               <img src="../../../assets/escape-room/profesor.png"> 
               <mat-icon (click)="start()" style="color: blue; zoom: 2.0;">contact_support</mat-icon>
              </div> 
           </ion-col>   
         </ion-row> 
      </ion-grid>  
    </div>
    

</ion-content>



<!-- <div *ngIf="showImage"> 
     <button class="mapa" (click)="escribir()"></button>
     <div class="example-box" cdkDrag>
       Drag me around
     </div>
   </div> !-->
